<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970025050149-vhtedoor0bsog7ki9bp5oqabbcm5n0bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970025050149-vhtedoor0bsog7ki9bp5oqabbcm5n0bs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970025050149-8ksvasjkllsmrt3jjjbjo5o12gmqlfur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZSN52N8ATnn2BXBsOV2kyf_2JqFU2XR0</string>
	<key>GCM_SENDER_ID</key>
	<string>970025050149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>agslearn</string>
	<key>STORAGE_BUCKET</key>
	<string>agslearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970025050149:ios:b420bf97c0cfa654dd5fcc</string>
	<key>DATABASE_URL</key>
	<string>https://agslearn.firebaseio.com</string>
</dict>
</plist>